/* Add styles here! Make it look a bit pretty! */

#header-title {
  text-align: center;
}

.flashcard_container {
  text-align: center;
  padding: 3rem;
  border: solid;
  margin: 2rem;
}

.flashcard {
  text-align: center;
  width: 160;
  height: 120;
  border: solid;
}

.header {
  background-color: #c5d4ed ;
  padding: 3rem;
  border: solid;
  text-align: center;
}

main {
background-color: #c7c7c7;
}

footer {
  text-align: center;
  background-color: #c5d4ed ;
  padding: 3rem;
  border: solid;
}

.buttons {
  padding: 3rem;
  text-align: center;
  border: solid;
  margin: 2rem;
}

body {
  /* font-family: cursive; */
  background-color: bisque;
  /* padding: 2rem; */
}