/* Add styles here! Make it look a bit pretty! */

#header-title {
  text-align: center;
}

.flashcard_container {
  text-align: center;
}

.flashcard {
  text-align: center;
  width: 160;
  height: 75;
}

.header {
  background-color: #c5d4ed ;
}

main {
background-color: white;
}