/* Add styles here! Make it look a bit pretty! */

#header-title {
  text-align: center;
}

.flashcard_container {
  text-align: center;
  padding: 3rem;
}

.flashcard {
  text-align: center;
  width: 160;
  height: 75;
}

.header {
  background-color: #c5d4ed ;
  padding: 3rem;
}

main {
background-color: white;
}

footer {
  text-align: center;
  background-color: #c5d4ed ;
  padding: 3rem;
}

.buttons {
  padding: 3rem;
}

body {
  font-family: 'Pacifico', cursive;
}